*
{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-family: "Outfit", sans-serif;
}
body
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: hsl(212, 45%, 89%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCon
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
}
.qrCode
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.qrCode img
{
    width: 80%;
    height: 250px;
    border-radius: 10px;
}
.content
{
    width: 80%;
    margin-top: 20px;
}
.content h2
{
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.content p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    color: hsl(220, 15%, 55%);
}